body{
  background: rgb(250,235,215);
background: linear-gradient(180deg, rgba(250,235,215,1) 26%, rgba(255,255,224,1) 80%);
font-family: Roboto;
}
.stickyDiv {
    height: 100vh;
    width: 80%;
    left:10%;
    top: 0;
    z-index: -1;
    position: sticky;
    /* ps you can even make this div a flexbox to position elements inside it */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .introScroll div{
    width: 30vw;
    padding: 10px;
    
    margin-bottom: 100px;
    position: relative;
    left:33%;
    font-size: larger;
  }
  
  /* .introScroll div:last-child{
    margin-bottom: 0px;
    left: 15%;
  } */
  #tooltip{
    visibility: hidden;
    height: auto;
    width: auto;
    margin-bottom: 0px;
    font-size: 48px;
}



#heatmap-title{
  font-size: 36px;
  position: relative;
  font-weight: 900;
  left: 15%;
  
  margin-bottom: 10px;
}
#heatmap-tooltip{
  font-size: 36px;
  margin-bottom: 0px;
  left: 43%;
}
#heatmap-container{
  left: 25%;
  margin-bottom: 0px;
}
.heatmapdatagroup:hover{
    opacity: 0.1;
}

#heatmap-key-container{
  left: 55%;
  padding-top: 0%;
  margin-top: 0%;


}
  #viz2-container{
    left: 23%;
  }

 
  
  #viz-2-tooltip{
    visibility: hidden;
    position: relative;
    font-size: 64px;
    padding: none;
    margin-top: -10px;
    bottom: 20%;
    left:38%;
    margin-bottom: 50px;
}

#dumbwaytomakeaspacer{
  font-size: 36px;
  position: relative;
  font-weight: 900;
  width: 60%;
  left: 22%;
}

 

  
  
  /* everything below is just styling for this particular example
  it can all be changed
  be experimental
  be playful
  be wild
  :)  */

  
  .header{
    height: 30vh;
    font-family: 'Smythe';
    font-size: 72px;
    position: relative;
    left: 10%;
  }
  
  #myname{
      position: relative;
      left:30%;
      font-family: 'roboto';
      bottom: 40%;
      font-size: 48px;
  }

  .intro{
    background-color: rgb(238, 66, 209);
  }
  
  .lightpink{
    background-color: lightpink;
  }
  .context{
    background-color: lightgreen;
    height: 100vh;
  }
  .lightyellow{
    padding: 10px;
    background-color: lightyellow;
    margin-bottom: 300px;
    position: relative;
    left:10%;
  }
  .special{
    height: 30vh
  }

  .orange{
    background-color:orange;
  }

  .ending{
    background-color:blueviolet;
  }
  
  .contextScroll p{
   margin-bottom: 200px;
   width: 30vw;
   left:33%;
  }
  .scrollingContent p:last-child{
    margin-bottom: 0px;
  }

  

  #firemanagepic{
    position: relative;
    right: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  #headingwildfire{
    position: relative;
    left:13%;
    height: 30%;

  }

  #mywildfirepic{
    position: relative;
    height: 400px;

  }