.bar{
    background-color: none;
    margin-left: 30%;
    top: 30%;
    height:30px;
   
    
    transition: width 1s, height 3s, background-color 2s;
    text-align: right;
    
    
    font-size: 24px;
    color: white;
    

}

body{
    background-color: black;
    font-family: 'Gill Sans';
    color:white;
    
}
a{
    color:white;
}
#surveyLink{
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
  
   
    width: 550px;
    height: 80px;
}
.barName{
    margin:auto;
    text-align: right;
    animation: fadeIn ease 2s;
    
}

p #surveyLink{
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding-top: 50%;
    width: 400px;
   
 
}

#title{
    margin-top: 15%;
    text-align: center;
    margin-bottom: 5%;
   
}




@keyframes fadeIn{
    0%{
        opacity:0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes fadeOut{
    0%{
        opacity:1;
    }
    100%{
        opacity: 0;
    }
}